{% extends "base.html" %}
{% load i18n %}

{% block headtitle %} | Verify Your E-mail Address{% endblock headtitle %}

{% block innercontent %}
<div class="user-action-form-wrap">
    <div class="user-action-form-inner">

		<h1>{% trans "Verify Your E-mail Address" %}</h1>

		<p>{% blocktrans %}We've sent a verification email to your address. Please follow the link in the email to complete your signup. If you don't receive it within a few minutes, please email contact@cinemata.org.{% endblocktrans %}</p>

    </div>
</div>
{% endblock innercontent %}

