logs/debug.log
logs/
cms/local_settings.py
media_files
*.pyc
cms/local_settings.py
.idea/
.DS_Store
venv/
.venv/
.env
pyvenv.cfg
.claude/*
CLAUDE.md

Bento4-SDK-1-6-0-632.x86_64-unknown-linux/
DB_DUMPS/
celerybeat-schedule
engagemedia.txt
files/admin___2.py
files/forms___2.py
files/lists___2.py
files/serializers_2.py
files/views___2.py
pids/beatcelery_beat.service.pid
pids/celery_long.service.pid
pids/celery_short.service.pid
static/debug_toolbar/js/redirect.js
static/mptt/
static/rest_framework/js/jquery-3.4.1.min.js
static_collected/*
actions/migrations/*
files/migrations/*
users/migrations/*

pids/

celerybeat-schedule.db
celerybeat.pid

# Maintenance mode files
cms/maintenance_mode_state.txt
cms/maintenance_timing.json
cms/maintenance_timing.json.lock